<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>{{ table.name }}</h2>

<table>
<tr>
{% for column in table.row_set.first.column_set.all %}
<th>{{ column.name }}</th>
{% endfor %}
</tr>
{% for row in table.row_set.all %}
  <tr>
  {% for column in row.column_set.all %}
    <td>{{ column.value }}</td>
  {% endfor %}
  </tr>
{% endfor %}
</table>
</body>
</html>
